@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@100;200;300;400;600;800&display=swap");
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #f9d64a;
}

html {
  scroll-behavior: smooth;
}

h2 {
  color: #222222;
}

body {
  margin: 0;
  font-family: "Overpass", sans-serif;
  font-size: 1em;
}

a.btn {
  border: 1px solid #f9d64a;
  color: #f9d64a;
  text-transform: uppercase;
  padding: 0.5em 1em;
  display: inline-block;
  border-radius: 15px;
  margin-top: 1em;
}

a.btn:hover {
  background-color: #f9d64a;
  color: #222222;
  transition: all 0.2s;
}

section h2 {
  text-transform: uppercase;
}

.card {
  text-align: center;
  border: 1px solid #f9d64a;
  border-radius: 15px;
  padding: 1.5em 0.6em;
}

.card .card-icon {
  font-size: 3em;
}

.main-nav {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f9d64a;
  padding: 0 1em;
  margin: 0;
  font-size: 1.5em;
}

.main-nav .nav-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 600px) {
  .main-nav {
    flex-direction: row;
  }
}

.main-nav .brand {
  color: #222222;
  font-weight: 800;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-right: auto;
}

.main-nav .hamburger {
  color: #222222;
  position: absolute;
  top: 0em;
  right: 1em;
  font-size: 1.2em;
}

.main-nav ul.main-nav-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  perspective: 100px;
}

.main-nav .main-nav-item a {
  color: #222222;
  display: inline-block;
  padding: 0em;
  margin: 0.1em 1em;
  border-bottom: 3px solid rgba(34, 34, 34, 0);
  transition: all 0.3s;
}

.main-nav .main-nav-item a:hover,
.main-nav .main-nav-item a:active {
  border-bottom: 3px solid #222222;
}

.main-nav [aria-expanded="false"] ~ .main-nav-list {
  max-height: 0px;
  overflow: hidden;
  transform: rotateX(90deg);
  transition: all 0.5s;
}

.main-nav [aria-expanded="true"] ~ .main-nav-list {
  max-height: 300px;
  transform: rotateX(0deg);
  transition: all 0.7s;
}

@media (min-width: 600px) {
  .main-nav .nav-wrapper {
    flex-direction: row;
  }
  .main-nav .nav-wrapper .hamburger ~ ul.main-nav-list {
    max-height: 300px;
    width: 100%;
    transform: rotateX(0deg);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .main-nav .nav-wrapper .hamburger {
    display: none;
  }
}

section.intro {
  background-color: #222222;
  color: white;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.intro .intro-content {
  max-width: 750px;
}

section.intro .intro-content h1 {
  font-size: 2rem;
  margin-bottom: 0.2em;
}

section.intro .intro-content p {
  line-height: 1.7;
  font-size: 1.2rem;
  font-weight: 200;
  padding-top: 0;
  margin: 0;
}

section.intro .intro-content p span {
  color: #f9d64a;
}

section.intro .intro-content .social ul {
  list-style-type: none;
  display: flex;
  padding: 0;
}

section.intro .intro-content .social ul li {
  padding: 0em 0.3em;
  font-size: 1.5rem;
}

section.intro .intro-content .social ul a {
  color: white;
}

section.intro .intro-content .social ul a:hover {
  color: #f9d64a;
  transition: all 0.2s;
}

.about {
  padding: 7.5em 2em;
  display: flex;
  max-width: 800px;
  margin: 0 auto 0.5em;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
}

.about .profile-image {
  border-radius: 50%;
}

.about .about-content h2 {
  text-align: center;
}

.about .about-content p {
  color: #c5c3c6;
  text-align: justify;
  line-height: 1.5;
}

.about .interests {
  display: grid;
  margin: 0.5em 0;
  gap: 2em;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.about .interests .section-heading {
  grid-column: 1/-1;
  text-align: center;
}
/*# sourceMappingURL=styles.css.map */